@use "../../_base";

.login {
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 28rem;
    height: 37rem;
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid base.$lightgrey;
    background-color: base.$primary-bg;

    form {
      display: flex;
      width: 90%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .data__container {
        h2 {
          text-align: center;
          font-weight: 400;
        }
        Input {
          padding: 0.8rem;
          width: 100%;
          transition: 0.2s ease-out;
          font-size: 1rem;
          margin: 1rem 0;

          &:focus {
            border: 2px solid base.$primary-color;
          }
        }
      }

      .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        span {
          color: base.$grey;
          font-weight: 600;
          margin: 0.5rem;

          &.Link {
            cursor: pointer;
          }
        }

        Button {
          width: 100%;
          font-size: 1rem;
          padding: 0.8rem;
          margin: 2rem 0;
        }
      }
    }

    .fa {
      cursor: pointer;
      border-radius: 50%;
      font-size: 2rem;
      align-self: flex-end;
      color: base.$primary-text;
      transition: ease-out 0.2s;

      &:hover {
        color: base.$primary-color;
      }
    }
  }
}
